.allBenefit 
    display: flex


.card-container-2
    display: flex
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    
    .card
        background-color: #ffffff
        margin: 10px
        text-align:center
        
        .grey-block-small
            background-color: #818181
            width: 254px
            height: 297px
        .store-small
            color:  #CC2936
            font-size: 30px
            line-height: 135%
            text-align:center
        .promo-small
            font-size: 16px
            line-height: 135%
        .tc-small
            font-size: 11px
            line-height: 14.85px