.home 
    display: flex
    
.landing 
    display: flex
    height: 75vh
    width: 100vw
    padding-top: calc(5vh + 2em)
    flex-wrap: wrap
    margin-bottom: 2em
    .logo
        flex: 1
        justify-content: center
        
    .intro
        flex: 1
        text-align: justify
        justify-content: flex-start
        padding: 2em
        padding-left: 0em

    .whitespace
        flex: 1
    border-radius: 7em
    box-shadow: 0 8px 8px -4px lightgrey
    


