@import '../../sass/Variables'

.navbar 
    background-color: $background
    color: $primary
    padding: 0.5em
    border-bottom : 1px solid red
    position: sticky
    top: 0
    z-index: 5
    
    .container-fluid
        position:sticky

.custom-toggler
    border: 1px solid $primary

a 
    font-weight: 500
    // font-family: "MarkPro", sans-serif
    font-size: 16px
    color: $primary
    padding: 0.5em

.nav-link 
    color: $primary


.navbar-right 
    justify-content: flex-end

.dropdown-item
    color: $primary