@import '/src/sass/Variables'

.events
    min-height: 80vh
    display: flex
    flex-direction: row
    width: 100vw
    height: 80vh
    color: $primary
    margin-bottom: 2em
.left-event
    display: flex
    flex: 1.5
    margin: 0 0 0 0
    position: relative
    height: 100%
    flex-direction: column
    justify-content: space-between
    position: relative
    .title  
        text-align: left
        font-size: 36px
    .who-we
        padding: 0.5em 0 0 0
        color: $text
        text-align: left
    .left-photo
        position: absolute
        top: 60%
        width: 100%
        height: 45%
    .caption-event-name
        z-index: 10
        color: $primary
        

.middle-event
    flex: 1
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 1em

    .middle-photo //to be replaced with img
        width: 80%
        height: 33%
        position: relative
        top: 0
    .middle-photo-bottom
        height: 25%
        width: 120%
        .caption
            margin-top: 1em
            text-align: left
            line-height: 90%


.right-event
    flex: 1.5
    margin-top: 1em
    display: flex
    flex-direction: column
    justify-content: space-between
    .right-photo
        height: 45%
        .right
            width: 60%
            text-align: right
            position: relative
            left: 40%
    .see-more-button
        align-self: flex-end
